{% extends 'automobileapp/base.html' %}
{% load static %}


{% block style %}
<style>
.page-banner-area {
  background-image: url("{% static 'automobileapp/img/section-bg/auto-b.jpg' %}");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover ;
  background-size: cover ;
   padding: 170px 0 80px;
}
    </style>
{% endblock style %}

{% block content %}


    <!-- Course feature Area
    ============================================ -->
    <div class="page-banner-area overlay overlay-black overlay-70">
        <div class="container">
            <div class="row">
                <div class="page-banner text-center col-12">
                    <h1>Notice</h1>
                    <ul>
                        <li><a href="{% url 'home' %}">home</a></li>
                        <li><span>notice</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid ">
        <table class="table text-center my-5">
            <thead>
                <tr>
                    <th>SN</th>
                    <th>NOTICE-TITLE</th>
                    <th>DATE</th>
                    <th>PDF</th>
                </tr>
            </thead>
            <tbody>
                <tr>              
                    {% for n in notice %}               
                    <td>#{{ forloop.counter }}</td> 
                    <td>{{ n.title }}</td>
                    <td>{{ n.date }}</td>
                    <td><a href="" download='{{ n.pdf_file }}'>Download</a> </td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>


{% endblock content %}
