{% extends 'automobileapp/base.html' %}
{% load static %}


{% block style %}
<style>
.page-banner-area {
  background-image: url("{% static 'automobileapp/img/section-bg/testimonial.jpg' %}");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover ;
  background-size: cover ;
   padding: 170px 0 80px;
}
@media only screen and (max-width: 600px) {
    .ms{
        text-align: center;
    }
    .hms{
        width: 105px;
    }
} 
    </style>
{% endblock style %}

{% block content %}


    <!-- Course feature Area
    ============================================ -->
    <div class="page-banner-area overlay overlay-black overlay-70">
        <div class="container">
            <div class="row">
                <div class="page-banner text-center col-12">
                    <h1>Review</h1>
                    <ul>
                        <li><a href="{% url 'home' %}">home</a></li>
                        <li><span>review</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid my-3">

        {% for dm in review %}

        <div class="card col-md-10 mx-auto shadow">
            <div class="row">
            <div class="col-12 col-md-4">
                <div class="card border-0 ">
                    <img src="{{ dm.image.url }}" height="250" alt="">
                </div>
                <div class="card-body text-center">
                    <h6>{{ dm.name }}</h6>
                    <p>{{ dm.designation }}</p>
                </div>
            </div>
            <div class="col-12 col-md-8 my-auto pb-3">
                <h5 class="ms">Review Message</h5><hr class="hms">
                <p class="m-2" >{{ dm.description|safe }}</p>
            </div> 
            </div>
        </div>
        {% endfor %}
  </div>

    

{% endblock content %}
