{% extends 'automobileapp/base.html' %}
{% load static %}


{% block style %}
<style>
.page-banner-area {
  background-image: url("{% static 'automobileapp/img/section-bg/funfact.jpg' %}");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover ;
  background-size: cover ;
   padding: 170px 0 80px;
}

    </style>
{% endblock style %}

{% block content %}


    <!-- Course feature Area
    ============================================ -->
    <div class="page-banner-area overlay overlay-black overlay-70">
        <div class="container">
            <div class="row">
                <div class="page-banner text-center col-12">
                    <h1>Search Course </h1>
                    <ul>
                        <li><a href="{% url 'home' %}">home</a></li>
                        <li><span>search-course</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="pricing-area" >
        <div class="container mt-5">
            <h4><span class="text-success"> {{request.GET.q}} </span> -এর জন্য অনুসন্ধানের ফলাফল </h4> 
            <div class="row">
                {% for cs in course %}
                <div class="col-lg-3 col-md-6 col-12 mb-30">
                    <div class="single-pricing text-center">
                        <div class="pricing-head">
                            <h4>{{ cs.title }}</h4>
                        </div>
                        <div class="image mb-1" style="margin-top:-50px ;">
                            <a href="{% url 'course-detals' cs.slug %}"><img src="{{ cs.image.url }}" alt="" /></a>
                        </div>
                        <div class="pricing-price">
                            <h4  style='margin-top:-15px; color: black;'><span>TK <br></span>{{ cs.course_price }}</h4>
                        </div>
                        <ul style="color: black; margin-top: -20px; margin-bottom: 5px;">                          
                            {% if cs.course_duration_for_month %}
                            <li>{{ cs.course_duration_for_month }} Month </li>                               
                            {% endif %}
                            {% if cs.course_duration_for_day %}
                            <li> Weekly  {{ cs.course_duration_for_day }} Day</li>                               
                            {% endif %}
                            {% if cs.course_duration_for_hours %}
                            <li>{{ cs.course_duration_for_hours }} Hours </li>                               
                            {% endif %}
                        </ul>
                        <a href="{% url 'course-detals' cs.slug %}" class="pricing-action">View Details</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

  

{% endblock content %}
