{% extends 'dashboard/base.html' %}
{% load crispy_forms_tags %}

{% block dashboard_content %}
<div class="content-wrapper">
    <div class="container-full">
      <!-- Main content -->
      <section class="content">
          <div class="row">			    
              <div class="col-lg-10 col-12">
                    <div class="box">
                      <div class="box-header with-border">
                        <div class="row">
                            <div class="col-8">
                                <h3 class="box-title">Media Coverage Add/Edit Form</h3>
                            </div>
                            <div class="col-4 text-end">
                                <a class="btn btn-info" href="{% url 'mediacoverage-add' %}">Media Coverage Add</a>
                            </div>
                        </div>
                      </div>
                      <!-- /.box-header -->
                      <form class="form" method="POST" enctype="multipart/form-data">
                        {{ form.media }}
                        {% csrf_token %}
                          <div class="box-body">
                              <div class="form-group">
                                {{ form|crispy }}
                              </div>
                          </div>
                          <!-- /.box-body -->
                          <div class="box-footer text-end">
                              <button type="submit" class="btn btn-primary">
                                <i class="ti-save-alt"></i> Save
                              </button>
                          </div>  
                      </form>
                    </div>
                    <!-- /.box -->			
              </div>
          </div>

        <!-- /.row -->

      </section>
      <!-- /.content -->
    </div>
</div>
{% endblock dashboard_content %}
    