{% extends 'automobileapp/base.html' %}
{% load static %}

{% block fb_meta %}
<meta property="og:url"           content="https://tweenautoschool.com/course-details/{{ course.slug }}" />
<meta property="og:type"          content="website" />
<meta property="og:title"         content="{{ course.title }}" />
<meta property="og:description"   content="{{ course.description|striptags }}" />
<meta property="og:image"         content="{{ course.image.url }}" />
{% endblock fb_meta %}

{% block style %}
<style>
.page-banner-area {
  background-image: url("{% static 'automobileapp/img/section-bg/testimonial.jpg' %}");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover ;
  background-size: cover ;
   padding: 170px 0 80px;
}
    </style>
{% endblock style %}

{% block content %}


    <!-- Course feature Area
    ============================================ -->
    <div class="page-banner-area overlay overlay-black overlay-70">
        <div class="container">
            <div class="row">
                <div class="page-banner text-center col-12">
                    <h1>Course Detail</h1>
                    <ul>
                        <li><a href="#">home</a></li>
                        <li><span>course Detail</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid my-3">
        <div class="card shadow col-md-10 mx-auto">
            <div class="row">
                <div class="col-12 col-md-4 my-auto">          
                    <img style="width:100%;" src="{{ course.image.url }}" alt="" />
                    
                    <!-- <div class="my-3 text-center">
                        <a class="btn bg-info text-white" href="{{ course.get_add_to_cart_url }}">
                            
                            {% if course.title == 'Industrial Training' %}
                                Book Now
                            {% else %}
                                Enroll Now
                            {% endif %}
                                
                           
                        
                        </a> <br>
                        <div class="fb-share-button mt-3" data-href="https://tweenautoschool.com/course-details/{{ course.slug }}" data-layout="button"></div>
                    </div> -->

                    
                    {% if course.course_type.title == 'Offline Course' %} 
                        <div class="my-3 text-center">
                            <a class="btn bg-info text-white" href="{% url 'bookInStudent' course.slug %}">
                                Book Now
                            </a> <br>
                        </div>
                    {% else %}
                    <div class="my-3 text-center">
                        <a class="btn bg-info text-white" href="{% url 'payment-form' course.slug %}">
                            
                            Enroll Now
                        </a> <br>
                    </div>
                    {% endif %}
                        

                </div>
                <div class="col-12 col-md-8 my-auto">
                    <div class="row text-center">
                        <div class="col-8">
                            <h5>{{ course.title }}</h5>
                        </div>
                        {% if course.course_discount_price %}
                        <div class="col-4">
                            <h5>Tk {{ course.course_discount_price }}</h5>
                            <p>0ld price : <del>Tk {{ course.course_price }}</del></p>
                        </div>
                        {% else %}
                            <div class="col-4">
                                <h5>Tk {{ course.course_price }}</h5>
                            </div>
                        {% endif %}
                        
                    </div>
                    
                    <div class="row text-center my-3">
                        <div class="col-4">
                            {% if course.course_duration_for_month %}
                            <li>{{ course.course_duration_for_month }} Month </li>                               
                            {% endif %}
                        </div>
                        <div class="col-4">
                            {% if course.course_duration_for_day %}
                             <li>Total  {{ course.course_duration_for_day }} Day </li>                            
                            {% endif %}
                        </div>
                        <div class="col-4">
                            {% if course.course_duration_for_hours %}
                            <li>{{ course.course_duration_for_hours }} Hours </li>                               
                            {% endif %}
                        </div>
                    </div><hr>
                    <div class="my-2">
                        <h6>Description: </h6>
                        <p>{{ course.description|safe }}</p>
                    </div>
                    
                </div>
            </div>

            <!-- type of vehicles -->
            <!-- <h4 >Vehicles</h4><hr>
            <div class="row">
                {% for tofv in type_of_vehicles %}               
                <div class="col-12 col-md-4 ">          
                    <img style="width:100%;" src="{{ tofv.image.url }}" alt="" />
                </div>
                <div class="col-12 col-md-8 my-auto">
                    <div class="row">
                        <div class="col-12">
                            <h5>{{ tofv.title }}</h5>
                        </div>
                    </div>
                
                    <div class="my-2">
                        <h6>Description: </h6>
                        <p>{{ tofv.description|safe }}</p>
                    </div>
                </div>
                {% endfor %}
            </div> -->
        </div>
      </div>

{% endblock content %}